<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="com.mapper.OrderMapper">
    <resultMap id="howToResult" type="com.a_bean.Orders">
        <result column="t_user_id" property="userId"></result>
    </resultMap>
    <select id="selectAllOrders" resultMap="howToResult">
        select  id, t_user_id, number, createtime, note FROM mybatis.t_orders
    </select>
</mapper>